[submodule "src/nepi_drivers"]
	path = src/nepi_drivers
	url = git@github.com:nepi-engine/nepi_drivers.git
	
[submodule "src/nepi_apps"]
	path = src/nepi_apps
	url = git@github.com:nepi-engine/nepi_apps.git
	
[submodule "src/nepi_3rd_party"]
	path = src/nepi_3rd_party
	url = git@github.com:nepi-engine/nepi_3rd_party.git
	
[submodule "src/nepi_ai_frameworks"]
	path = src/nepi_ai_frameworks
	url = git@github.com:nepi-engine/nepi_ai_frameworks.git
[submodule "src/nepi_engine"]
	path = src/nepi_engine
	url = git@github.com:nepi-engine/nepi_engine.git
[submodule "src/nepi_auto_scripts"]
	path = src/nepi_auto_scripts
	url = git@github.com:nepi-engine/nepi_auto_scripts.git
[submodule "src/nepi_rui"]
	path = src/nepi_rui
	url = git@github.com:nepi-engine/nepi_rui.git
