NEPI Dual-Use License
Project: ${projectname}

This license applies to any user of NEPI Engine software

Copyright (C) ${years} ${owner}
see ${projecturl}

This software is licensed under the terms of a NEPI software commercial license.

NEPI software commercial license details can be found at:
https://nepi.com/software-nepi-engine/

The NEPI software commercial license terms can be found at:
https://numurus.com/wp-content/uploads/NEPI-Software-License-Terms.pdf

Redistributions in source code must retain this top-level comment block.
Plagiarizing this software to sidestep the license obligations is illegal.

Contact information:
<nepi@numurus.com>
